.ant-btn{
  background:var(--backgroud)!important;
}

.side-menu {
  left: 0px !important;
  background-color: var(--secundary) !important;
}

.menu-header {
  background-color: var(--secundary) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50!important;
}

@media (max-width: 768px) {
  .menu-header {
    display: none;
  }
}

.menu-system-title {
  width: 96px;
  height: 43px;
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  fill: var(--backgroud);
}



.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 2rem!important;
  padding-left: 1.5rem!important;
  background-color:var(--secundary)!important;
  border: none !important;
}

.menu-item{
  align-self: center;
  border-radius: 25px 0 0 25px;
  display: flex !important;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--backgroud);
}

li {
  width: 100%;
}

.ant-menu-item-selected,
.menu-item:hover,
.menu-item:visited,
.ant-menu-submenu-title:hover {
  background-color: var(--primary)!important;
}

.ant-menu-item-selected span,
.menu-item:hover span,
.menu-item:visited span,
.ant-menu-submenu-title:hover span {
  color: var(--backgroud)  !important;
  font-weight: 400 !important;
  font-family: 'Titillium Web'!important;
}
